.frameDesignTop{
    background-color: #0b2e13;
    float: left;
    width: 80%;
    height: auto;
}

.frameDesignLeft{
    float: left;
    width: 40%;
}

.frameDesignRight{
    float: right;
    width: 40%;
}