<div id="footer" class="text-center">
    {% block footer %}
    <p class="mt-5 mb-3 text-muted">
        <a class="link-dark" href="https://github.com/2858199552/slow-song" target="_blank">项目地址</a>
        <a class="link-dark" href="" target="_blank">官方空间</a>
        <a class="link-dark" href="https://www.liaoxuefeng.com/" target="_blank">友情链接</a>
    </p>
    <p class="mt-5 mb-3 text-muted">Fuller Inc&copy; 2017–2021</p>
    <p class="mt-1 mb-3 text-muted">
        傅
        <a class="link-dark" href="" target="_blank">版权所有</a>
        <a class="link-dark" href="" target="_blank">粤网文</a>
        <span class="author-title">背景来源</span>
        <a class="link-dark" target="_blank" href="https://unsplash.com/t/wallpapers">Wallpapers</a>
    </p>
    {% endblock %}
</div>