{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block headExtends %}
<link href="/static/css/mycss/home.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <span class="border">
            <h3>Profile</h3>
            <p>Email:{{ user.email }}</p>
            <p>Name:{{ user.name }}</p>
            <p>Registered at:{{user.createdDateTime }}</p>
            <p>test show and run chest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeange</p>
        </span>
    </div>
    <div class="row">
        <div class="col">
            <span class="border">
                <h3>This is A title</h3>
                <p>test show and run chest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeange</p>
                <p>test show and run chest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeange</p>
            </span>
        </div>
        <div class="col-4">
            <span class="border">
                <h3>This is A title</h3>
                <p>test show and run chest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changenge</p>
                <p>test show and run chest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changeest show and run changenge</p>
            </span>
        </div>
    </div>
</div>
{% endblock %}