<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div class="lay_main">
            <div class="lay_inner">
                <div class="login_head">
                    <h1>
                        <i class="ui_icon logo"></i>
                    </h1>
                </div>
                <div class="login_img">
                </div>
                <div class="login_wrap" id="login_div">
                </div>
            </div>
        </div>
        <div class="lay_foot">
            <div class="lay_inner">
                <div class="copyright">
                    <p>
                        <a href="https://github.com/2858199552/slow-song" target="_blank">项目地址</a>
                        <a href="" target="_blank">官方空间</a>
                        <a href="https://www.liaoxuefeng.com/" target="_blank">友情链接</a>
                        <a href="https://qzone.qq.com/" target="_blank">借鉴QQ</a>
                    </p>
                    <p>
                        "Copyright © 2021 Fuller."
                        <a target="_blank" href="https://github.com/2858199552/slow-song">All Rights Reserved.</a>
                    </p>
                    <p>
                        "傅 "
                        <a href="" target="_blank">版权所有</a>
                        <a href="" target="_blank">粤网文</a>
                    </p>
                </div>
            </div>
            <div class="author-info">
                <p id="a-author-message">
                    <span class="author-title">背景来源</span>
                    <a target="_blank" href="https://unsplash.com/t/wallpapers">Wallpapers</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>